@model List<ShopAoThung.Models.Cart_item>
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
    var Stt = 1;
}

@if (Model.Count() == 0)
{
    <section class="checkout_wthree py-sm-5 py-3">
        <div class="container">

            <h3 class="text-danger">Giỏ hàng chưa có sp nào</h3>
        </div>
    </section>
}


<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>STT</th>
                            <th>HÌNH</th>
                            <th>TÊN SP</th>
                            <th class="text-center">GIÁ</th>
                            <th class="text-center">SỐ LƯỢNG</th>
                            <th class="text-center">THÀNH TIỀN</th>
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ float sum = 0; }
                        @foreach (var iten in Model)
                        {
                            int sale = (int)iten.product.pricesale;
                            float price = ((int)iten.product.price - (int)iten.product.price / 100 * (int)sale);
                            float price1 = ((int)iten.product.price - (int)iten.product.price / 100 * (int)sale) * (iten.quantity);
                            float priveNsale = (int)iten.product.price * iten.quantity;
                            if (sale > 0)
                            {
                                sum += ((int)iten.product.price - (int)iten.product.price / 100 * (int)sale) * ((int)iten.quantity);
                            }
                            else
                            {
                                sum += (int)iten.product.price * (int)iten.quantity;
                            }



                            <tr>
                                <td>@Stt</td>
                                <td class="image" data-title="No"><img src="~/Public/images/product/@iten.product.img" alt="#"></td>
                                <td class="product-des" data-title="Description">
                                    <p class="product-name"><a href="#">@iten.product.name</a></p>

                                </td>
                                <td class="price" data-title="Price">   <del class="price-old">@iten.product.price.ToString("N0") VND </del> <br> <span>@price.ToString("N0") VND</span></td>
                                <td class="qty" data-title="Qty">
                                    <!-- Input Order -->
                                    <div class="input-group">
                                        <div class="button minus">
                                            <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                <i class="ti-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="100" value="@iten.quantity">
                                        <div class="button plus">
                                            <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                                <i class="ti-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!--/ End Input Order -->
                                </td>
                                <td class="total-amount" data-title="Total">

                                    <strong class="text-danger">@price1.ToString("N0") VND</strong>
                                </td>
                                <td class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon"></i></a></td>
                            </tr>
                            Stt++;
                        }
                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">

                        </div>
                        <div class="col-lg-4 col-md-7  col-12 ">
                            <div class=" bg-white p-3 right" >
                                <ul>
                                    <li>Tổng tiền<span class="text-danger">@sum.ToString("N0") VND</span></li>
                                    <li>Phí giao hàng<span>Miễn phí</span></li>
                                    <li>Giảm giá<span>0 VND</span></li>
                                    <li class="last">Còn lại:<span>@sum.ToString("N0") VND</span></li>
                                </ul>
                                <div class="button5">
                                    @if (Model.Count() == 0)
                                    {
                                        <a href="javascript:void(0)" onclick="checkCartNull()" class="btn">Thanh toán</a>

                                    }
                                    else
                                    {

                                        <a href="/thanh-toan" class="btn">Thanh toán</a>
                                    }
                                    <a href="~/" class="btn">Tiếp tục mua sắm</a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<script>

    function checkCartNull() {
        alertify.error("Bạn phải thêm SP vào giỏ hàng trước đã");
    }
</script>